<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Parquimetros Durango</ion-title>
    <ion-buttons end>
      <button ion-button (click)="buscarEstacionamiento()"><ion-icon name="search"></ion-icon>Buscar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>